body {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.title,
.result {
  text-align: center;
  flex: 1 0 auto;
}

.title {
  background-color: orange;
}

.content {
  flex: 1 0 auto;
}

.result {
  flex: 1 0 auto;
  padding: 20px 0;
  background-color: goldenrod;
  margin-top: 20px;
}

.result p {
  color: white;
  font-weight: bold;
}

.footer {
  flex: 0 0 auto;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 80px;
}

button {
  flex: 1 0 auto;
  height: 60px;
  background-color: cyan;
  font-weight: bold;
}

p {
  margin: 0;
}